.row {
  max-width: $grid-width;
  margin: 0 auto;
  display: grid;
  column-gap: 3rem;
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  .col {
  }

  &__1 {
    grid-template-columns: repeat(2, 1fr);
  }

  &__2 {
    grid-template-columns: repeat(3, 1fr);
  }

  &__3 {
    grid-template-columns: 1fr 2fr;
  }

  &__4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &__5 {
    grid-template-columns: repeat(2, 1fr) 2fr;
  }

  &__6 {
    grid-template-columns: 1fr 3fr;
  }
}
